html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

.borda-card {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}

.codificar-color-card {
  color: white;
  background-color: #B22222;
}

.decodificar-color-card {
  color: white;
  background-color: #2F4F4F;
}

.link-grupo {
  color: black;
  font-size: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  color: white;
  background-color: #B22222;
}

.footer a {
  color: white;
}
