.borda-card {
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
}

.codificar-color-card {
  color: white;
  background-color: #B22222;
}

.decodificar-color-card {
  color: white;
  background-color: #2F4F4F;
}

.link-grupo {
  color: black;
  font-size: 40px;
}
